%nav.navbar.navbar-default{role: "navigation"}
	.container-fluid
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
				        
			.navbar-brand=t("User") + ": " + session[:usuario] if session[:usuario]
		.navbar-ex1-collapse.collapse.navbar-collapse
			%ul.nav.navbar-nav.navbar-right
				%li.dropdown
					%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
						= t("Hardware")
						%span.caret
					%ul.dropdown-menu{:role => "menu"}
						%li
							%a= link_to "Pc's", cabinets_path
						%li.divider
						%li
							%a= link_to t("Printers"), printers_path
				%li.dropdown
					%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
						= t("Services")
						%span.caret
					%ul.dropdown-menu{:role => "menu"}
						%li
							%a= link_to t("Pc's maintenance preventive/failure"), cabinet_services_path
						%li
							%a= link_to t("Pc's preventive maintenance listing"), preventive_path			
						%li
							%a= link_to t("Pc's preventive maintenance scheduler"), schedulers_path
						%li.divider
					
						%li
							%a= link_to t("Printers maintenance"), printer_services_path
						
				%li= link_to t("Users"), users_path
				%li= link_to t("Networks"), networks_path
				%li= link_to t("Labels"), labels_path
				%li= link_to t("Log"), "loglist"
				%li= link_to t("Close session"), root_path if session[:usuario]