%html
%head
	%title Hardware Inventory
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'application', 'data-turbolinks-track' => true
	= csrf_meta_tags
%body
	= render 'nav'
	.container-fluid
		.flash_error
			= render 'shared/flash', :flash => flash
		= yield